{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/mycss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">To-Do list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
      <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'home' %}">Action</a>
          <a class="dropdown-item" href="{% url 'home' %}">Another action</a>
        </div>-->

          <div class="dropdownn">
            <button class="dropbtn">Hello, {{ user.first_name }}  {{ user.last_name }}
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'edt_prf' %}"><i class="fa fa-user"></i> &nbsp Edit your Profile</a>
              <a href="{% url 'ch_pass' %}"><i class="fa fa-lock"></i> &nbsp Change Password</a>
              <a href="{% url 'logout' %}"><i class="fa fa-power-off" style="font-size:16px"></i> &nbsp Log Out</a>
            </div>
          </div>
      </li>
    </ul>
    {% endif %}
    <form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="To-Do item" aria-label="Search" name='item'>
      <input type='hidden' value='{{ user.id }}' name='user'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to List</button>
    </form>
  </div>
</nav>
<div class='container'>
{% block content %}
{% endblock %}
</div>
</<body>
</html>
